VITE_SITE_URL=https://sinofgears.com
VITE_VISITOR_COUNTRY_CODE=
VITE_GEO_API_URL=
VITE_CUSTOMER_SERVICE_ENABLED=false
VITE_CUSTOMER_SERVICE_SDK_URL=
VITE_CUSTOMER_SERVICE_APP_ID=
VITE_CUSTOMER_SERVICE_GLOBAL=
INQUIRY_TO_EMAIL=wei.li@sinofgears.com
INQUIRY_FROM_EMAIL=Sinoform RFQ <inquiries@sinfogear.com>
# Set RESEND_API_KEY as an encrypted Cloudflare secret. Do not save it here.
